.gbt3__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.gbt3__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.gbt3__navbar-links_logo {
  margin-right: 2rem;
}

.gbt3__navbar-links_logo img {
  width: 62.56px;
  height: 16.02px;
}
.gbt3__navbar-links_container {
  display: flex;
  flex-direction: row;
}
.gbt3__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.gbt3__navbar-links_container p,
.gbt3__navbar-sign p,
.gbt3__navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}
.gbt3__navbar-sign button,
.gbt3__navbar-menu_container button {
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: var(--font-family);
  left: 1153px;
  top: 55px;
  line-height: 25px;
  font-weight: 500;
  background: #ff4820;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.gbt3__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}
.gbt3__navbar-menu svg {
  cursor: pointer;
}
.gbt3__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 80px;
  right: 0;
  margin-top: 1rem;
  min-width: 310px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0, 2);
}
.gbt3__navbar-menu_container p {
  margin: 1rem 0;
}
.gbt3__navbar-menu_container a {
  padding: 20px;
}
.gbt3__navbar-menu_container-links-sign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .gbt3__navbar-links_container {
    display: none;
  }
  .gbt3__navbar-menu {
    display: flex;
  }
}
@media screen and (max-width: 700px) {
  .gbt3__navbar {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 550px) {
  .gbt3__navbar {
    padding: 2rem;
  }
  .gbt3__navbar-sign {
    display: none;
  }
  .gbt3__navbar-menu_container {
    top: 20px;
  }
  .gbt3__navbar-menu_container-links-sign {
    display: block;
  }
  .gbt3__navbar-menu_container-links-sign p {
    margin-right: 1rem;
  }
}
